@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>"Welcome to this humble realm, where words doth weave a tapestry of thought, and each quote doth beckon thee toward deeper wisdom and understanding."</p>
</div>
